body{
    background: lightskyblue url("../images/background.jpg");
    font-family: 楷体, sans-serif;
    font-size: 20px;
    color: cornsilk;
}
.main{
    width: 60%;
    float: left;
}
button{
    float: left;
    display: block;
    width: 20%;
    height: 34px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: lightblue;
    border-color: darkblue;
}
button:hover{
    display: block;
    background-color: darkblue;
    color: white;
}
.part2,.part3,.part4,h4{
    clear: both;
}
.intro{
    float: left;
    width: 60%;
    overflow: auto;
}
.image{
    float: right;
    width: 40%;
    overflow: hidden;
}
.copyright{
    bottom: 26px;
    color: white;
    text-align: center;
    height: 20px;
    position: fixed;
    width: 100%;
}