body {
    background: goldenrod url(../images/background.jpg) no-repeat fixed top;
    overflow: auto;
    color: white;
}
.QuickSort{
    margin-left: 10%;
    border-radius: 10px;
    padding-top: 10px;
    overflow: hidden;
    width: 50%;
    float: left;
}
.QuickSort h1{
    font-weight: bolder;
}
.QuickSort input{
    display: block;
    width: 70%;
    height: 40px;
    text-align: center;
    line-height: 18px;
    outline: none;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid #aaaaaa;
    clear: both;
}
.QuickSort input[id="output"]{
    float: left;
}
button{
    float: left;
    display: block;
    width: 30%;
    height: 34px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
    background-color: lightblue;
    border-color: mediumblue;

}
button[id="down"], button[id="accelerate"]{
    margin-left: 10%;
}
button:hover {
    display: block;
    background-color: mediumblue;
    color: white;
}
.Color{
    margin-left: 10%;
    float: left;
    width: 50%;
    margin-top: 60px;
}
.Color li{
    margin-left: 10%;
    padding: 4px;
    font-size: 23px;
    color: black;
}
.Color button{
    margin-top: 0;
    width: 30%;
}
.copyright{
    bottom: 20px;
    color: black;
    text-align: center;
    height: 20px;
    position: fixed;
    width: 100%;
}